.text{
    margin-top: 1rem;
    font-size: 2rem;
}
.redirectButton{
    border: none;
    outline: none;
    color: blue;
    font-size: 2rem;
    background-color: transparent;
    margin-left: 1rem;
    border-bottom-style:double;
}